.row {
  display: flex;
  position: relative;
  padding-right: 22px;
}

.cell {
  width: calc(100% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 5px;
}

.nameCell {
  flex-grow: 1;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  /* transform: translateX(100%); */
}
