.wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid black;
  height: 30px;
}

.control {
  width: 100%;
  height: 30px;
  padding: 2px;
  border: none;
  background: white;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.dropdown {
  box-shadow: 0 0 100px black;
  position: fixed;
  top: 40px;
  overflow-y: scroll;
  scrollbar-width: none;
  left: 30px;
  right: 30px;
  background: white;
  border: 1px solid black;
  overflow-y: auto;
  z-index: 10;
  border-radius: 10px;
  max-height: 700px;
  display: flex;
  overflow-x: hidden;
}

.option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;

  width: 100%;
  display: flex;
  gap: 12px;
  cursor: pointer;

  padding: 20px 15px;
}

.option:not(:last-child) {
  border-bottom: 1px solid;
}

.option:hover {
  background: #f0f0f0;
}

.code {
  width: 40px;
  font-family: inherit;
  font-weight: bold;
}

.name {
  flex: 1;
  font-family: inherit;
  font-weight: bold;
}

.dropdownWrapper {
  width: 100%;
  overflow: hidden;
}

.selectPage {
  width: 100%;
}

.dropdown {
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
}

.page {
  min-width: 100%;
}
