.wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid black;
  height: 30px;
}

.control {
  width: 100%;
  height: 30px;
  padding: 2px;
  border: none;
  background: white;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.dropdown {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  right: 0;
  background: white;
  border: 1px solid black;
  overflow-y: auto;
  z-index: 10;
  max-height: 250px;
}

.option {
  padding: 6px 10px;
  display: flex;
  gap: 12px;
  cursor: pointer;
  padding-left: 10px;
}

.option:hover {
  background: #f0f0f0;
}

.code {
  width: 40px;
  font-family: inherit;
  font-weight: bold;
}

.name {
  flex: 1;
  font-family: inherit;
  font-weight: bold;
}
