.form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
}

.inputContainer {
  margin-right: 20px;
}

.input {
  font-weight: bold;
  display: block;
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
}

.input::placeholder {
  color: black;
}

.formButton {
  height: 30px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}
