.header {
  display: flex;
  width: 100%;
  padding-right: 22px;
}

.cell {
  width: calc(100% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 5px;
}

.nameCell {
  flex-grow: 1;
}
