.header {
  display: flex;
  width: 100%;
  padding-right: 22px;
}

.cell {
  width: calc(100% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 5px;
  background-color: #fff;
}

.nameCell {
  flex-grow: 1;
}

.monthlySummary {
  font-size: 20px;
  font-weight: bold;
}

.total {
  margin-top: 10px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.pre {
  margin: 0;
}

.commentContainer {
  display: flex;
}

.commentButton {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.commentTextarea {
  width: 100%;
  height: 60px;
  font-size: 16px;
  margin-bottom: 10px;
  resize: none;
}

.comment {
  margin: 0;
  font-size: 20px;
}
