#root {
  width: 100%;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.datepicker-input {
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
