*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 20px;
  background: url('/bg.jpg');
  background-position: top;
  background-attachment: fixed;
}

.input {
  -moz-appearance: textfield; /* Firefox */
}

/* Убираем стрелки в Chrome, Safari, Edge */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
